@inherits LayoutComponentBase
<div class="d-flex flex-column w-100">
    <header class="navbar navbar-dark bg-primary">
        <h1 class="text-white mx-auto">Hello World!</h1>
    </header>

    <div class="main" style="background: #bbb;">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
